# Environment files (AWS credentials)
.env

# Removing the checkpoint files from notebook directory
/notebooks/.ipynb_checkpoints/*
/.ipynb_checkpoints/*
/notebooks/*.jpg
/*.weights.h5
/*.csv
/*.txt
/docs/flowcharts/*
/docs/images/*
**/__pycache__/
**/*.pyc
**/*.pyo
src/mobilenetv2ssd/models/mobilenet_v2/weights/*
/tests/__pycache__/*
/src/mobilenetv2_ssd.egg-info/*
/datasets/*